@import "../bin/variables";

body {
  max-width: 1170px;
  margin: 0 auto;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: $font-size-extra-large;
  text-align: center;
  font-weight: 500;
}

.button {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  padding: 11px 40px 8px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
}

.button-orange {
  border: solid 1px $color-orange;
  color: $color-orange;

  &:hover, :active {
    background-color: $color-orange;
    color: $color-white;
  }
}

.button-light-green {
  border: solid 2px $light-green-grey;
  color: $main-green;

  &:hover, :active {
    border: none;
    background-color: $main-green;
    color: $color-white;
  }
}

.button-green {
  background-color: $main-green;

  &:hover, :active {
    background-color: $color-white;
    color: $main-green;
    border: solid 2px $main-green;
  }
}


