@import "../bin/variables";

body {
  max-width: 1170px;
  margin: 0 auto;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: $font-size-extra-large;
  text-align: center;
  font-weight: 500;
}
