<section class="goods">
    <div class="goods__items">
        <div class="goods__item">
            <a href="/">
                <img src="" alt="Кроссовки Babolat Shadow Tour Men 2017" class="goods__item-img">
                <p class="goods__item-title">Кроссовки Babolat Shadow Tour Men 2017</p>
            </a>
            <p class="goods__item-price">2560 грн.</p>
            <div class="goods__item-button-wrapper">
                <a class="button goods__item-button" href="/">
                    <p class="button goods__item-button-text">Купить</p>
                    <img src="" alt="Купить" class="goods__item-button-icon">
                </a>
            </div>
        </div>
        <div class="goods__item">
            <a href="/">
                <img src="" alt="Кроссовки Babolat Shadow Tour Men 2017" class="goods__item-img">
                <p class="goods__item-title">Кроссовки Babolat Shadow Tour Men 2017</p>
            </a>
            <div class="goods__item-discount">
                <p class="goods__item-discount-value">10%</p>
            </div>
            <p class="goods__item-old-price">3000 грн.</p>
            <p class="goods__item-price">2560 грн.</p>
            <div class="goods__item-button-wrapper">
                <a class="button goods__item-button" href="/">
                    <p class="button goods__item-button-text">Купить</p>
                    <img src="" alt="Купить" class="goods__item-button-icon">
                </a>
            </div>
        </div>
        <div class="goods__item">
            <a href="/">
                <img src="" alt="Кроссовки Babolat Shadow Tour Men 2017" class="goods__item-img">
                <p class="goods__item-title">Кроссовки Babolat Shadow Tour Men 2017</p>
            </a>
            <p class="goods__item-price">2560 грн.</p>
            <div class="goods__item-button-wrapper">
                <a class="button goods__item-button" href="/">
                    <p class="button goods__item-button-text">Купить</p>
                    <img src="" alt="Купить" class="goods__item-button-icon">
                </a>
            </div>
        </div>
        <div class="goods__item">
            <a href="/">
                <img src="" alt="Кроссовки Babolat Shadow Tour Men 2017" class="goods__item-img">
                <p class="goods__item-title">Кроссовки Babolat Shadow Tour Men 2017</p>
            </a>
            <p class="goods__item-price">2560 грн.</p>
            <div class="goods__item-button-wrapper">
                <a class="button goods__item-button" href="/">
                    <p class="button goods__item-button-text">Купить</p>
                    <img src="" alt="Купить" class="goods__item-button-icon">
                </a>
            </div>
        </div>
        <div class="goods__item">
            <a href="/">
                <img src="" alt="Кроссовки Babolat Shadow Tour Men 2017" class="goods__item-img">
                <p class="goods__item-title">Кроссовки Babolat Shadow Tour Men 2017</p>
            </a>
            <p class="goods__item-price">2560 грн.</p>
            <div class="goods__item-button-wrapper">
                <a class="button goods__item-button" href="/">
                    <p class="button goods__item-button-text">Купить</p>
                    <img src="" alt="Купить" class="goods__item-button-icon">
                </a>
            </div>
        </div>
        <div class="goods__item">
            <a href="/">
                <img src="" alt="Кроссовки Babolat Shadow Tour Men 2017" class="goods__item-img">
                <p class="goods__item-title">Кроссовки Babolat Shadow Tour Men 2017</p>
            </a>
            <p class="goods__item-price">2560 грн.</p>
            <div class="goods__item-button-wrapper">
                <a class="button goods__item-button" href="/">
                    <p class="button goods__item-button-text">Купить</p>
                    <img src="" alt="Купить" class="goods__item-button-icon">
                </a>
            </div>
        </div>
        <div class="goods__item">
            <a href="/">
                <img src="" alt="Кроссовки Babolat Shadow Tour Men 2017" class="goods__item-img">
                <p class="goods__item-title">Кроссовки Babolat Shadow Tour Men 2017</p>
            </a>
            <p class="goods__item-price">2560 грн.</p>
            <div class="goods__item-button-wrapper">
                <a class="button goods__item-button" href="/">
                    <p class="button goods__item-button-text">Купить</p>
                    <img src="" alt="Купить" class="goods__item-button-icon">
                </a>
            </div>
        </div>
        <div class="goods__item">
            <a href="/">
                <img src="" alt="Кроссовки Babolat Shadow Tour Men 2017" class="goods__item-img">
                <p class="goods__item-title">Кроссовки Babolat Shadow Tour Men 2017</p>
            </a>
            <p class="goods__item-price">2560 грн.</p>
            <div class="goods__item-button-wrapper">
                <a class="button goods__item-button" href="/">
                    <p class="button goods__item-button-text">Купить</p>
                    <img src="" alt="Купить" class="goods__item-button-icon">
                </a>
            </div>
        </div>
    </div>

    <ul class="goods__pages">
        <li><a class="button goods__page" href="/"><i class="fas fa-angle-left"></i></a></li>
        <li><a class="button goods__page" href="/">1</a></li>
        <li><a class="button goods__page" href="/">2</a></li>
        <li><a class="button goods__page goods__page-active" href="/">3</a></li>
        <li><a class="button goods__page goods__page-disabled" href="/"><i class="fas fa-angle-right"></i></a></li>
    </ul>
</section>
