<nav class="nav">
    <div class="nav__wrapper">
        <div class="logo">
            <a href="/"><img src="/img/common/logo.jpg" alt="raketka.dp.ua"/></a>
        </div>

        <div class="nav__search">
            <button type="button">
                <img src="/img/common/search.png" alt="Поиск"/>
            </button>
            <input type="text" placeholder="Поиск">
        </div>

        <ul class="nav__items">
            <li class="nav__item"><a href="/">О нас</a></li>
            <li class="nav__item"><a href="/">Доставка и оплата</a></li>
            <li class="nav__item"><a href="/">Перетяжка и ремонт</a></li>
        </ul>

        <div class="nav__cart">
            <a href="/"><img src="/img/common/cart.png" alt="cart" class="nav__cart-icon"></a>
        </div>
    </div>
    <ul class="nav__categories-items">
        <li class="nav__categories-item"><a href="/">Ракетки для бадминтона</a></li>
        <li class="nav__categories-item"><a href="/">Спортивная обувь</a></li>
        <li class="nav__categories-item"><a href="/">Спортивная одежда</a></li>
        <li class="nav__categories-item"><a href="/">Воланы</a></li>
        <li class="nav__categories-item"><a href="/">Струны</a></li>
    </ul>
    <ul class="nav__categories-items">
        <li class="nav__categories-item"><a href="/">Ракетки для тенниса</a></li>
        <li class="nav__categories-item"><a href="/">Мячи для тенниса</a></li>
        <li class="nav__categories-item"><a href="/">Сумки</a></li>
        <li class="nav__categories-item"><a href="/">Компрессионные товары</a></li>
        <li class="nav__categories-item"><a href="/">Аксессуары</a></li>
    </ul>
</nav>
