<section class="main-news">
    <h1 class="main-news__title">Новости</h1>
    <div class="main-news__items">
        <div class="main-news__item">
            <div class="main-news__item-img">
                <img src="/img/main/news/news-1.jpg" alt="Новое Поступление Классных Сумок FZ FORZA!">
            </div>
            <div class="main-news__item-body">
                <p class="main-news__item-title">Новое Поступление Классных Сумок FZ FORZA!</p>
                <p class="main-news__item-text">Практичные и стильные, новые сумки датского бренда FZ FORZA порадуют Вас
                    отличным качеством и приятной ценой! Для повседневных тренировок отлично подойдут сумки Ghost Racket
                    Bag и Star Racket Bag на 6 ракеток. В этих моделях – два больших отделения для ракеток и вещей,
                    удобный отсек для аксессуаров. Индивидуальный...</p>
                <div class="main-news__item-footer">
                    <a class="main-news__item-more" href="/">Подробнее ></a>
                    <p class="main-news__item-date">14.01.2019</p>
                </div>
            </div>
        </div>
        <div class="main-news__item">
            <div class="main-news__item-img">
                <img src="/img/main/news/news-2.png" alt="Традиционный ежемесячный парный турнир 'Сила нескорених'">
            </div>
            <div class="main-news__item-body">
                <p class="main-news__item-title">Традиционный ежемесячный парный турнир "Сила нескорених"</p>
                <p class="main-news__item-text">Каждый месяц в Днепре проходит традиционный ежемесячный парный турнир
                    "Сила нескорених". В нем могут принимать участие как спортсмены, так и любители. Соревнования
                    проводятся в 1 день по новой системе подсчёта очков 11х5 с балансом до 15. Соревнования проводятся в
                    1 день по новой системе подсчёта очков...</p>
                <div class="main-news__item-footer">
                    <a class="main-news__item-more" href="/">Подробнее ></a>
                    <p class="main-news__item-date">14.01.2019</p>
                </div>
            </div>
        </div>
    </div>
    <div class="main-news__all-button-wrapper">
        <a class="main-news__all-button button button--orange button--big" href="/">Все новости</a>
    </div>
</section>
