<section class="popular-goods">
    <h1 class="popular-goods__title">Популярные товары</h1>
    <div class="popular-goods__items">
        <div class="popular-goods__item">
            <a href="/" class="popular-goods__item-wrapper">
                <!--https://via.placeholder.com/180x180.png-->
                <img src="/img/products/Mavis-350-Middle.jpg" alt="Кроссовки Babolat Shadow Tour Men 2017"
                     class="popular-goods__item-img" height="180" width="180">
                <p class="popular-goods__item-title">Воланы для бадминтона пластиковые Yonex Mavis 350 (1/2 Doz.)</p>

                <div class="popular-goods__prices">
                    <p class="popular-goods__item-price">2560 грн.</p>
                </div>

                <div class="popular-goods__item-button-wrapper">
                    <!-- TODO: При смене этого дива на <a> начинается пи#дец-->
                    <div class="button button--green-on-hover popular-goods__item-button">
                        Купить <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>

            </a>
        </div>
        <div class="popular-goods__item">
            <a href="/" class="popular-goods__item-wrapper">
                <img src="/img/products/Babolat-Shadow-Tour-M-ukr_.jpg" alt="Кроссовки Babolat Shadow Tour Men 2017"
                     class="popular-goods__item-img" height="180" width="180">
                <p class="popular-goods__item-title">Кроссовки Babolat Shadow Tour Men 2017</p>

                <div class="popular-goods__item-discount">-10%</div>
                <div class="popular-goods__prices">
                    <p class="popular-goods__item-price">2560 грн.</p>
                    <p class="popular-goods__item-old-price">3000 грн.</p>
                </div>

                <div class="popular-goods__item-button-wrapper">
                    <div class="button button--green-on-hover popular-goods__item-button">
                        Купить <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="popular-goods__item">
            <a href="/" class="popular-goods__item-wrapper">
                <!--https://via.placeholder.com/180x180.png-->
                <img src="/img/products/Mavis-350-Middle.jpg" alt="Кроссовки Babolat Shadow Tour Men 2017"
                     class="popular-goods__item-img" height="180" width="180">
                <p class="popular-goods__item-title">Воланы для бадминтона пластиковые Yonex Mavis 350 (1/2 Doz.)</p>

                <div class="popular-goods__prices">
                    <p class="popular-goods__item-price">2560 грн.</p>
                </div>

                <div class="popular-goods__item-button-wrapper">
                    <div class="button button--green-on-hover popular-goods__item-button">
                        Купить <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>

            </a>
        </div>
        <div class="popular-goods__item">
            <a href="/" class="popular-goods__item-wrapper">
                <img src="/img/products/Babolat-Shadow-Tour-M-ukr_.jpg" alt="Кроссовки Babolat Shadow Tour Men 2017"
                     class="popular-goods__item-img" height="180" width="180">
                <p class="popular-goods__item-title">Кроссовки Babolat Shadow Tour Men 2017</p>

                <div class="popular-goods__item-discount">-10%</div>
                <div class="popular-goods__prices">
                    <p class="popular-goods__item-price">2560 грн.</p>
                    <p class="popular-goods__item-old-price">3000 грн.</p>
                </div>

                <div class="popular-goods__item-button-wrapper">
                    <div class="button button--green-on-hover popular-goods__item-button">
                        Купить <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
            </a>
        </div>

        <div class="popular-goods__item">
            <a href="/" class="popular-goods__item-wrapper">
                <!--https://via.placeholder.com/180x180.png-->
                <img src="/img/products/Mavis-350-Middle.jpg" alt="Кроссовки Babolat Shadow Tour Men 2017"
                     class="popular-goods__item-img" height="180" width="180">
                <p class="popular-goods__item-title">Воланы для бадминтона пластиковые Yonex Mavis 350 (1/2 Doz.)</p>

                <div class="popular-goods__prices">
                    <p class="popular-goods__item-price">2560 грн.</p>
                </div>

                <div class="popular-goods__item-button-wrapper">
                    <div class="button button--green-on-hover popular-goods__item-button">
                        Купить <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>

            </a>
        </div>
        <div class="popular-goods__item">
            <a href="/" class="popular-goods__item-wrapper">
                <img src="/img/products/Babolat-Shadow-Tour-M-ukr_.jpg" alt="Кроссовки Babolat Shadow Tour Men 2017"
                     class="popular-goods__item-img" height="180" width="180">
                <p class="popular-goods__item-title">Кроссовки Babolat Shadow Tour Men 2017</p>

                <div class="popular-goods__item-discount">-10%</div>
                <div class="popular-goods__prices">
                    <p class="popular-goods__item-price">2560 грн.</p>
                    <p class="popular-goods__item-old-price">3000 грн.</p>
                </div>

                <div class="popular-goods__item-button-wrapper">
                    <div class="button button--green-on-hover popular-goods__item-button">
                        Купить <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
            </a>
        </div>

        <div class="popular-goods__item">
            <a href="/" class="popular-goods__item-wrapper">
                <!--https://via.placeholder.com/180x180.png-->
                <img src="/img/products/Mavis-350-Middle.jpg" alt="Кроссовки Babolat Shadow Tour Men 2017"
                     class="popular-goods__item-img" height="180" width="180">
                <p class="popular-goods__item-title">Воланы для бадминтона пластиковые Yonex Mavis 350 (1/2 Doz.)</p>

                <div class="popular-goods__prices">
                    <p class="popular-goods__item-price">2560 грн.</p>
                </div>

                <div class="popular-goods__item-button-wrapper">
                    <div class="button button--green-on-hover popular-goods__item-button">
                        Купить <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>

            </a>
        </div>
        <div class="popular-goods__item">
            <a href="/" class="popular-goods__item-wrapper">
                <img src="/img/products/Babolat-Shadow-Tour-M-ukr_.jpg" alt="Кроссовки Babolat Shadow Tour Men 2017"
                     class="popular-goods__item-img" height="180" width="180">
                <p class="popular-goods__item-title">Кроссовки Babolat Shadow Tour Men 2017</p>

                <div class="popular-goods__item-discount">-10%</div>
                <div class="popular-goods__prices">
                    <p class="popular-goods__item-price">2560 грн.</p>
                    <p class="popular-goods__item-old-price">3000 грн.</p>
                </div>

                <div class="popular-goods__item-button-wrapper">
                    <div class="button button--green-on-hover popular-goods__item-button">
                        Купить <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
            </a>
        </div>

        <div class="popular-goods__item">
            <a href="/" class="popular-goods__item-wrapper">
                <!--https://via.placeholder.com/180x180.png-->
                <img src="/img/products/Mavis-350-Middle.jpg" alt="Кроссовки Babolat Shadow Tour Men 2017"
                     class="popular-goods__item-img" height="180" width="180">
                <p class="popular-goods__item-title">Воланы для бадминтона пластиковые Yonex Mavis 350 (1/2 Doz.)</p>

                <div class="popular-goods__prices">
                    <p class="popular-goods__item-price">2560 грн.</p>
                </div>

                <div class="popular-goods__item-button-wrapper">
                    <div class="button button--green-on-hover popular-goods__item-button">
                        Купить <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>

            </a>
        </div>
        <div class="popular-goods__item">
            <a href="/" class="popular-goods__item-wrapper">
                <img src="/img/products/Babolat-Shadow-Tour-M-ukr_.jpg" alt="Кроссовки Babolat Shadow Tour Men 2017"
                     class="popular-goods__item-img" height="180" width="180">
                <p class="popular-goods__item-title">Кроссовки Babolat Shadow Tour Men 2017</p>

                <div class="popular-goods__item-discount">-10%</div>
                <div class="popular-goods__prices">
                    <p class="popular-goods__item-price">2560 грн.</p>
                    <p class="popular-goods__item-old-price">3000 грн.</p>
                </div>

                <div class="popular-goods__item-button-wrapper">
                    <div class="button button--green-on-hover popular-goods__item-button">
                        Купить <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
            </a>
        </div>

        <div class="popular-goods__item">
            <a href="/" class="popular-goods__item-wrapper">
                <!--https://via.placeholder.com/180x180.png-->
                <img src="/img/products/Mavis-350-Middle.jpg" alt="Кроссовки Babolat Shadow Tour Men 2017"
                     class="popular-goods__item-img" height="180" width="180">
                <p class="popular-goods__item-title">Воланы для бадминтона пластиковые Yonex Mavis 350 (1/2 Doz.)</p>

                <div class="popular-goods__prices">
                    <p class="popular-goods__item-price">2560 грн.</p>
                </div>

                <div class="popular-goods__item-button-wrapper">
                    <div class="button button--green-on-hover popular-goods__item-button">
                        Купить <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>

            </a>
        </div>
        <div class="popular-goods__item">
            <a href="/" class="popular-goods__item-wrapper">
                <img src="/img/products/Babolat-Shadow-Tour-M-ukr_.jpg" alt="Кроссовки Babolat Shadow Tour Men 2017"
                     class="popular-goods__item-img" height="180" width="180">
                <p class="popular-goods__item-title">Кроссовки Babolat Shadow Tour Men 2017</p>

                <div class="popular-goods__item-discount">-10%</div>
                <div class="popular-goods__prices">
                    <p class="popular-goods__item-price">2560 грн.</p>
                    <p class="popular-goods__item-old-price">3000 грн.</p>
                </div>

                <div class="popular-goods__item-button-wrapper">
                    <div class="button button--green-on-hover popular-goods__item-button">
                        Купить <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
            </a>
        </div>



    </div>
    <div class="popular-goods__more-button-wrapper">
        <a class="button button--big button--orange popular-goods__more-button" href="/">Весь каталог</a>
    </div>
</section>
