<section class="catalogue">
    <h2 class="catalogue__section-title">КАТАЛОГ</h2>
    <div class="catalogue__section-body">
        <div class="catalogue__section-item">
            <p>Ракетки для бадминтона</p>
        </div>
        <div class="catalogue__section-item">
            <p class="catalogue__section-item-title">Ракетки для тенниса</p>
        </div>
        <div class="catalogue__section-item">
            <i class="fas fa-caret-down"></i>
            <p class="catalogue__section-item-title">Спортивная обувь</p>
            <div class="catalogue__section-item-sub">
                <p class="catalogue__section-item-sub-title ">Кросовки для бадминтона</p>
                <p class="catalogue__section-item-sub-title">Кросовки для тенниса</p>
            </div>
        </div>
        <div class="catalogue__section-item">
            <i class="fas fa-caret-right"></i>
            <p class="catalogue__section-item-title">Спортивная одежда</p>
            <div class="catalogue__section-item-sub">
                <p class="catalogue__section-item-sub-title">Футболки и майки</p>
                <p class="catalogue__section-item-sub-title">Шорты</p>
                <p class="catalogue__section-item-sub-title">Спортивные юбки и платья</p>
                <p class="catalogue__section-item-sub-title">Штаны</p>
                <p class="catalogue__section-item-sub-title">Спортивные костюмы и кофты</p>
                <p class="catalogue__section-item-sub-title">Аксессуары</p>
                <p class="catalogue__section-item-sub-title ">Термобелье</p>
            </div>
        </div>
        <div class="catalogue__section-item">
            <p class="catalogue__section-item-title">Сумки</p>
        </div>
        <div class="catalogue__section-item">
            <p class="catalogue__section-item-title">Воланы</p>
        </div>
        <div class="catalogue__section-item">
            <p class="catalogue__section-item-title">Мячи для тенниса</p>
        </div>
        <div class="catalogue__section-item">
            <i class="fas fa-caret-right"></i>
            <p class="catalogue__section-item-title">Струны</p>
            <div class="catalogue__section-item-sub">
                <p class="catalogue__section-item-sub-title">Струны для бадминтонных ракеток</p>
                <p class="catalogue__section-item-sub-title">Струны для теннисных ракеток</p>
            </div>
        </div>
        <div class="catalogue__section-item">
            <p class="catalogue__section-item-title">Компрессионные товары</p>
        </div>
        <div class="catalogue__section-item">
            <i class="fas fa-caret-right"></i>
            <p class="catalogue__section-item-title">Аксессуары</p>
            <div class="catalogue__section-item">
                <i class="fas fa-caret-right"></i>
                <p class="catalogue__section-item-title">Спортивная одежда</p>
                <div class="catalogue__section-item-sub">
                    <p class="catalogue__section-item-sub-title">Обмотки</p>
                    <p class="catalogue__section-item-sub-title">Суппорты</p>
                    <p class="catalogue__section-item-sub-title">Сетки для бадминтона</p>
                    <p class="catalogue__section-item-sub-title">Разное</p>
                </div>
            </div>
        </div>
    </div>

    <h2 class="catalogue__section-title">ФИЛЬТРЫ</h2>
    <div class="catalogue__section-body">
        <div class="catalogue__section-item">
            <i class="fas fa-caret-down"></i>
            <p>Пол</p>
            <div class="catalogue__section-item-sub">
                <i class="far fa-check-square"></i>
                <p class="catalogue__section-item-sub-title ">Женский</p>
                <i class="far fa-square"></i>
                <p class="catalogue__section-item-sub-title">Мужской</p>
            </div>
        </div>
        <div class="catalogue__section-item">
            <i class="fas fa-caret-down"></i>
            <p class="catalogue__section-item-title">Бренд</p>
            <div class="catalogue__section-item-sub">
                <i class="far fa-check-square"></i>
                <p class="catalogue__section-item-sub-title ">Yonex</p>
                <i class="far fa-square"></i>
                <p class="catalogue__section-item-sub-title">Babolat</p>
                <i class="far fa-square"></i>
                <p class="catalogue__section-item-sub-title">FZ Forza</p>
                <i class="far fa-square"></i>
                <p class="catalogue__section-item-sub-title">Asics</p>
                <i class="far fa-square"></i>
                <p class="catalogue__section-item-sub-title">Joma</p>
                <i class="far fa-square"></i>
                <p class="catalogue__section-item-sub-title">Star</p>
                <i class="far fa-square"></i>
                <p class="catalogue__section-item-sub-title">Youhe</p>
                <i class="far fa-square"></i>
                <p class="catalogue__section-item-sub-title">Ashaway</p>
            </div>
        </div>
        <div class="catalogue__section-item">
            <p class="catalogue__section-item-title">Ценовой диапазон</p>
            <div class="catalogue__section-item-sub">
                <div class="catalogue__section-item-price-range">
                </div>
                <i class="far fa-square"></i>
                <p class="catalogue__section-item-sub-title">Распродажа</p>
            </div>
        </div>
    </div>
</section>
