<div class="main-banner">
    <div class="owl-carousel owl-theme main-banner__owl-carousel">
        <div class="item">
            <div class="main-banner__item-wrapper">
                <img class="main-banner__item-img" src="/img/main/banner/collage.jpg" alt="Фото магазина">
                <div class="main-banner__item-body">
                    <p class="main-banner__item-title">
                        НАЛИЧИЕ ФИЗИЧЕСКОГО МАГАЗИНА
                    </p>
                    <p class="main-banner__item-text">
                        Заказывайте товар на сайте либо приходите в магазин
                        <br>
                        примерить и посмотреть на ассортимент вживую
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="main-banner__item-wrapper">
                <img class="main-banner__item-img" src="/img/main/banner/collage.jpg" alt="Фото магазина">
                <div class="main-banner__item-body">
                    <p class="main-banner__item-title">
                        НАЛИЧИЕ ФИЗИЧЕСКОГО МАГАЗИНА
                    </p>
                    <p class="main-banner__item-text">
                        Заказывайте товар на сайте либо приходите в магазин
                        <br>
                        примерить и посмотреть на ассортимент вживую
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="main-banner__item-wrapper">
                <img class="main-banner__item-img" src="/img/main/banner/collage.jpg" alt="Фото магазина">
                <div class="main-banner__item-body">
                    <p class="main-banner__item-title">
                        НАЛИЧИЕ ФИЗИЧЕСКОГО МАГАЗИНА
                    </p>
                    <p class="main-banner__item-text">
                        Заказывайте товар на сайте либо приходите в магазин
                        <br>
                        примерить и посмотреть на ассортимент вживую
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="main-banner__carousel-prev"><i class="fas fa-angle-left"></i></div>
    <div class="main-banner__carousel-next"><i class="fas fa-angle-right"></i></div>
</div>
