<section class="popular-goods">
    <h1>Популярные товары</h1>
    <div class="popular-goods__items">
        <div class="popular-goods__item">
            <a href="/">
                <img src="" alt="Кроссовки Babolat Shadow Tour Men 2017" class="popular-goods__item-img">
                <p class="popular-goods__item-title">Кроссовки Babolat Shadow Tour Men 2017</p>
            </a>
            <p class="popular-goods__item-price">2560 грн.</p>
            <div class="popular-goods__item-button-wrapper">
                <a class="button popular-goods__item-button" href="/">
                    <p class="button popular-goods__item-button-text">Купить</p>
                    <img src="" alt="Купить" class="popular-goods__item-button-icon">
                </a>
            </div>
        </div>
        <div class="popular-goods__item">
            <a href="/">
                <img src="" alt="Кроссовки Babolat Shadow Tour Men 2017" class="popular-goods__item-img">
                <p class="popular-goods__item-title">Кроссовки Babolat Shadow Tour Men 2017</p>
            </a>
            <div class="popular-goods__item-discount">
                <p class="popular-goods__item-discount-value">10%</p>
            </div>
            <p class="popular-goods__item-old-price">3000 грн.</p>
            <p class="popular-goods__item-price">2560 грн.</p>
            <div class="popular-goods__item-button-wrapper">
                <a class="button popular-goods__item-button" href="/">
                    <p class="button popular-goods__item-button-text">Купить</p>
                    <img src="" alt="Купить" class="popular-goods__item-button-icon">
                </a>
            </div>
        </div>
        <div class="popular-goods__item">
            <a href="/">
                <img src="" alt="Кроссовки Babolat Shadow Tour Men 2017" class="popular-goods__item-img">
                <p class="popular-goods__item-title">Кроссовки Babolat Shadow Tour Men 2017</p>
            </a>
            <p class="popular-goods__item-price">2560 грн.</p>
            <div class="popular-goods__item-button-wrapper">
                <a class="button popular-goods__item-button" href="/">
                    <p class="button popular-goods__item-button-text">Купить</p>
                    <img src="" alt="Купить" class="popular-goods__item-button-icon">
                </a>
            </div>
        </div>
        <div class="popular-goods__item">
            <a href="/">
                <img src="" alt="Кроссовки Babolat Shadow Tour Men 2017" class="popular-goods__item-img">
                <p class="popular-goods__item-title">Кроссовки Babolat Shadow Tour Men 2017</p>
            </a>
            <p class="popular-goods__item-price">2560 грн.</p>
            <div class="popular-goods__item-button-wrapper">
                <a class="button popular-goods__item-button" href="/">
                    <p class="button popular-goods__item-button-text">Купить</p>
                    <img src="" alt="Купить" class="popular-goods__item-button-icon">
                </a>
            </div>
        </div>
        <div class="popular-goods__item">
            <a href="/">
                <img src="" alt="Кроссовки Babolat Shadow Tour Men 2017" class="popular-goods__item-img">
                <p class="popular-goods__item-title">Кроссовки Babolat Shadow Tour Men 2017</p>
            </a>
            <p class="popular-goods__item-price">2560 грн.</p>
            <div class="popular-goods__item-button-wrapper">
                <a class="button popular-goods__item-button" href="/">
                    <p class="button popular-goods__item-button-text">Купить</p>
                    <img src="" alt="Купить" class="popular-goods__item-button-icon">
                </a>
            </div>
        </div>
        <div class="popular-goods__item">
            <a href="/">
                <img src="" alt="Кроссовки Babolat Shadow Tour Men 2017" class="popular-goods__item-img">
                <p class="popular-goods__item-title">Кроссовки Babolat Shadow Tour Men 2017</p>
            </a>
            <p class="popular-goods__item-price">2560 грн.</p>
            <div class="popular-goods__item-button-wrapper">
                <a class="button popular-goods__item-button" href="/">
                    <p class="button popular-goods__item-button-text">Купить</p>
                    <img src="" alt="Купить" class="popular-goods__item-button-icon">
                </a>
            </div>
        </div>
        <div class="popular-goods__item">
            <a href="/">
                <img src="" alt="Кроссовки Babolat Shadow Tour Men 2017" class="popular-goods__item-img">
                <p class="popular-goods__item-title">Кроссовки Babolat Shadow Tour Men 2017</p>
            </a>
            <p class="popular-goods__item-price">2560 грн.</p>
            <div class="popular-goods__item-button-wrapper">
                <a class="button popular-goods__item-button" href="/">
                    <p class="button popular-goods__item-button-text">Купить</p>
                    <img src="" alt="Купить" class="popular-goods__item-button-icon">
                </a>
            </div>
        </div>
        <div class="popular-goods__item">
            <a href="/">
                <img src="" alt="Кроссовки Babolat Shadow Tour Men 2017" class="popular-goods__item-img">
                <p class="popular-goods__item-title">Кроссовки Babolat Shadow Tour Men 2017</p>
            </a>
            <p class="popular-goods__item-price">2560 грн.</p>
            <div class="popular-goods__item-button-wrapper">
                <a class="button popular-goods__item-button" href="/">
                    <p class="button popular-goods__item-button-text">Купить</p>
                    <img src="" alt="Купить" class="popular-goods__item-button-icon">
                </a>
            </div>
        </div>
    </div>
    <div class="popular-goods__button-wrapper">
        <a class="button popular-goods__button" href="/">Весь каталог</a>
    </div>
</section>
